<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to Text Anazlyer. Enter your text below</h1>
    <form action="analyze" method="GET">
        <textarea name="text" id="ta_id" cols="80" rows="10"></textarea><br>
        <input type="radio" name="removepunc">Remove Punctutations<br>
        <input type="radio" name="uppercase">UPPERCASE<br>
        <input type="radio" name="removespace">Remove Extra Spaces<br>
        <input type="radio" name="charcount">Count Characters<br>
        <br>
        <button type="submit" value="analyze">Analyze Text</button>
    </form>
</body>
</html>